<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医疗记录管理</title>
    <link rel="stylesheet" href="/static/css/doctor_medical_records_list.css">
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h2>已接受的问诊申请</h2>

            <div id="requests">
                {% if requests %}
                    <ul>
                        {% for request in requests %}
                            <li>
                                请求ID: {{ request.id }}
                                <p>患者ID: {{ request.patient_id }}</p>
                                <p>申请时间: {{ request.request_time }}</p>
                                <p>状态: {{ request.status }}</p>
                                <a href="{{ url_for('doctor_bp.medical_record', request_id=request.id) }}">开始书写病历</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>没有已接受的问诊申请。</p>
                {% endif %}
            </div>
        </div>

        <div class="right-column">
            <h2>被管理员打回的病历</h2>

            <div id="rejected_records">
                {% if rejected_records %}
                    <ul>
                        {% for record in rejected_records %}
                            <li>
                                病历ID: {{ record.mr_id }}
                                <p>打回原因: {{ record.review_opinions }}</p>
                                <a href="{{ url_for('doctor_bp.revise_medical_record', mr_id=record.mr_id, review_record_id=record.id) }}">重新提交</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>没有被管理员打回的病历。</p>
                {% endif %}
            </div>
        </div>
    </div>
 <p><a href="{{ url_for('doctor_bp.dc_home') }}">Back to Home</a></p>
</body>
</html>

<!--
<!DOCTYPE html>
<html>
<head>
    <title>Medical Records</title>
</head>
<body>
    <h2>Active Consultation Requests</h2>

    <div id="requests">
        {% if requests %}
            <ul>
                {% for request in requests %}
                    <li>
                        Request ID: {{ request.id }}
                        <p>Patient ID: {{ request.patient_id }}</p>
                        <p>申请时间:{{request.request_time}}</p>
                        <p>Status: {{ request.status }}</p>
                        <a href="{{ url_for('doctor_bp.medical_record', request_id=request.id) }}">Manage Medical Record</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No active consultation requests.</p>
        {% endif %}
    </div>

    <p><a href="{{ url_for('doctor_bp.dc_home') }}">Back to Home</a></p>
</body>
</html>

-->