<!-- doctor_profile_edit.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑个人信息</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="container">
    <header>
            <h1>医疗系统</h1>
    </header>

    <div class="content">
        <div class="sidebar">
<h2>功能菜单</h2>
             <div class="function-buttons">
                 <a href="{{ url_for('doctor_bp.display_profile') }}" class="function-button blue"><h3>个人信息</h3></a>
                 <a href="{{ url_for('doctor_bp.view_appointments') }}" class="function-button green"><h3>接诊</h3></a>
                 <a href="{{ url_for('doctor_bp.request_list') }}" class="function-button orange"><h3>检查申请-书写病历</h3></a>
        </div>
</div>

<div class="main-content">
    <h2>编辑个人信息</h2>
    <div class="content-area">
        <form method="POST">
        <label for="full_name">姓名：</label>
        <input type="text" id="full_name" name="full_name" required value="{{ profile_data.full_name if profile_data else '' }}"><br><br>

        <label for="gender">性别：</label>
        <select id="gender" name="gender" required>
            <option value="male">{% if profile_data.gender == 'male'%}selected{% endif %}男</option>
            <option value="female">{% if profile_data.gender == 'female'%}selected{% endif %}女</option>
        </select><br><br>

        <label for="birth_date">出生日期：</label>
        <input type="date" id="birth_date" name="birth_date" required value="{{ profile_data.birth_date.strftime('%Y-%m-%d') if profile_data else '' }}"><br><br>

        <label for="department">科室：</label>
        <select id="department" name="department" required>
            <option value="cardiology">{% if profile_data.department == 'cardiology' %}selected{% endif %}Cardiology</option>
            <option value="neurology" >{% if profile_data.department == 'neurology' %}selected{% endif %}Neurology</option>
            <option value="oncology">{% if profile_data.department == 'oncology' %}selected{% endif %}Oncology</option>
            <option value="pediatrics">{% if profile_data.department == 'pediatrics' %}selected{% endif %}Pediatrics</option>
            <option value="orthopedics">{% if profile_data.department == 'orthopedics' %}selected{% endif %}Orthopedics</option>
        </select><br><br>

        <label for="title">职称：</label>
        <select id="title" name="title" required>
            <option value="Medical Assistant" >{% if profile_data.title == 'Medical Assistant' %}selected{% endif %}医士</option>
            <option value="Licensed Physician"> {% if profile_data.title == 'Licensed Physician' %}selected{% endif %}医师</option>
            <option value="Attending Physician"> {% if profile_data.title == 'Attending Physician' %}selected{% endif %}主治医师</option>
            <option value="Associate Chief Physician"> {% if profile_data.title == 'Associate Chief Physician' %}selected{% endif %}副主任医师</option>
            <option value="Chief Physician" >{% if profile_data.title == 'Chief Physician' %}selected{% endif %}主任医师</option>
        </select><br><br>

        <button type="submit">保存修改</button>
    </form>

    <p><a href="{{ url_for('doctor_bp.display_profile') }}" class="btn">返回个人信息页</a></p>
    </div>
</div>
    </div>
<footer>
            <button class="btn" onclick="logout()">退出登录</button>
        </footer>
</div>
<script>
        function logout() {
            // 处理退出登录的逻辑
            window.location.href = "{{ url_for('patient_bp.logout') }}";
        }
    </script>

</body>
</html>