<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医生个人信息</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="container">
    <header>
            <h1>医疗系统</h1>
    </header>

    <div class="content">
        <div class="sidebar">
<h2>功能菜单</h2>
             <div class="function-buttons">
                 <a href="{{ url_for('doctor_bp.display_profile') }}" class="function-button blue"><h3>个人信息</h3></a>
                 <a href="{{ url_for('doctor_bp.view_appointments') }}" class="function-button green"><h3>接诊</h3></a>
                 <a href="{{ url_for('doctor_bp.request_list') }}" class="function-button orange"><h3>检查申请-书写病历</h3></a>
        </div>
</div>

<div class="main-content">
    <h2>个人信息</h2>
<div class="content-area">
    {% if not profile_complete %}
        <p>请尽快完善个人信息</p>
        <a href="{{ url_for('doctor_bp.edit_profile') }}">Complete Personal Information</a>
    {% else %}
        <p>姓名：{{ profile_data.full_name }}</p>
        <p>性别：{{ profile_data.gender }}</p>
        <p>出生日期：{{ profile_data.birth_date }}</p>
        <p>年龄：{{age }}</p>
        <p>科室：{{ profile_data.department }}</p>
        <p>职称：{{ profile_data.title }}</p>
        <a href="{{ url_for('doctor_bp.edit_profile') }}">编辑个人信息</a>
    {% endif %}

    <p><a href="{{ url_for('doctor_bp.dc_home') }}">返回主页</a></p>
</div>

</div>


    </div>
    <footer>
            <button class="btn" onclick="logout()">退出登录</button>
        </footer>
</div>
<script>
        function logout() {
            // 处理退出登录的逻辑
            window.location.href = "{{ url_for('patient_bp.logout') }}";
        }
    </script>
</body>
</html>