<!DOCTYPE html>
<html>
<head>
    <title>Patient Profile</title>
</head>
<body>
    <h2>Personal Information</h2>

    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}

    {% if not profile_completed %}
        <!-- 如果用户未填写信息，显示表单 -->
    <form method="POST">
        <label for="full_name">姓名：</label>
        <input type="text" id="full_name" name="full_name" required><br><br>
        <label for="gender">性别：</label>
        <select id="gender" name="gender" required>
            <option value="male">男</option>
            <option value="female">女</option>
        </select><br><br>

        <label for="birth_date">出生日期</label>
        <input type="date" id="birth_date" name="birth_date" required><br><br>

        <button type="submit">提交</button>
    </form>

    {% else %}
        <!-- 如果用户已填写信息，显示已填写的信息 -->
        <p>姓名：{{ profile_data.full_name }}</p>
        <p>性别：{{ profile_data.gender }}</p>
        <p>出生日期：{{ profile_data.birth_date }}</p>
        <p>年龄：{{ age }}</p>
    {% endif %}

    <p><a href="{{ url_for('patient_bp.pt_home') }}">Back to Home</a></p>
</body>
</html>