{% extends "patient_dashboard.html" %}
{% block title %}消息通知{% endblock %}
{% block content %}
                    <!-- 这里可以放置具体页面的内容 -->
                    <h2>Notifications</h2>
    <div id="notifications">
        {% if notifications %}
            <ul>
                {% for notification in notifications %}
                    <li>
                        {{ notification.message }}
                        <p>时间: {{ notification.time }}</p>
                        <p>问诊申请号: {{ notification.consultation_request_id }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>无通知</p>
        {% endif %}
    </div>
                    <p><a href="{{ url_for('patient_bp.pt_home') }}" class="btn">返回主页</a></p>

{% endblock %}

