{% extends "patient_dashboard.html" %}
{% block title %}查看个人信息{% endblock %}

{% block content %}

                    <!-- 这里可以放置具体页面的内容 -->
                    <h2>个人信息</h2>
                    {% if not profile_complete %}
                    <p>请尽快完善个人信息</p>

                    {% else %}
                    <p>姓名：{{ profile_data.full_name }}</p>
                    <p>性别：{{ profile_data.gender }}</p>
                    <p>出生日期：{{ profile_data.birth_date }}</p>
                    <p>年龄：{{age }}</p>

                    {% endif %}
                    <p><a href="{{ url_for('patient_bp.edit_profile') }}" class="btn">编辑个人信息</a></p>
                    <p><a href="{{ url_for('patient_bp.pt_home') }}" class="btn">返回主页</a></p>

{% endblock %}

