{% extends "patient_dashboard.html" %}
{% block title %}查看个人信息{% endblock %}


{% block content %}
                    <!-- 这里可以放置具体页面的内容 -->
                    <h2>个人信息编辑</h2>
                    <form method="POST">
                    <label for="full_name">姓名：</label>
                    <input type="text" id="full_name" name="full_name" required value="{{ profile_data.full_name if profile_data else '' }}"><br><br>

                    <label for="gender">性别：</label>
                    <select id="gender" name="gender" required>
                        <option value="male">{% if profile_data.gender == 'male'%}selected{% endif %}Male</option>
                        <option value="female">{% if profile_data.gender == 'female'%}selected {% endif %}Female</option>
                    </select><br><br>
                    <label for="birth_date">出生日期：</label>
                    <input type="date" id="birth_date" name="birth_date" required value="{{ profile_data.birth_date.strftime('%Y-%m-%d') if profile_data else '' }}"><br><br>
                    <button type="submit">提交</button>
    </form>
                    <p><a href="{{ url_for('patient_bp.display_profile') }}" class="btn">返回个人信息页</a></p>
                    <p><a href="{{ url_for('patient_bp.pt_home') }}" class = "btn">返回主页</a></p>
                </div>
{% endblock %}


