<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Register</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <main>
        <div class="card admin-card">
            <h2>Admin Register</h2>

            {% if message %}
            <p style="color: green;"> {% if 'error' in message %}style="color: red;"{% endif %}{{ message }}</p>
            {% endif %}
            <form action="/admin/register" method="POST">
                <label for="username">Username:</label>
                <input id="username" name="username" required type="text"><br><br>

                <label for="password">Password:</label>
                <input id="password" name="password" required type="password"><br><br>

                <button type="submit">Register</button>
            </form>
            <p style="margin-top: 20px;">Already have an account? <a href="/admin/login">Login</a></p>
        </div>
    </main>
</div>
</body>
</html>