{% extends "admin_dashboard.html" %}
{% block title %}审核提议{% endblock %}
{% block content %}
<h2>审核提议</h2>
{% if message %}
<p style="color: green;"> {{ message }}</p>
{% endif %}
{% if proposals %}
<ul>
    {% for proposal in proposals %}
    <li>
        提议ID: {{ proposal.id }}<br>
        发起管理员: {{ proposal.propose_admin }}<br>
        患者ID: {{ proposal.patient_id }}<br>
        状态:
        {% if proposal.status == 0 %}正在审批中{% endif %}
        {% if proposal.status == 1 %}已通过{% endif %}
        {% if proposal.status == 2 %}被拒绝{% endif %}
        <p>创建时间: {{ proposal.created_at }}</p>
        <p>时间范围: 从 {{ proposal.start_date }} 到 {{ proposal.end_date }}</p>
        <br>
        已同意数量: {{ proposal.approval_count }}/{{ proposal.required_approvals }}
        <br>
        {% if proposal.status == 0 %}
        <form action="{{ url_for('admin_bp.pass_proposal', proposal_id=proposal.id) }}" method="post">
            <button type="submit">同意提议</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>没有需要审核的提议。</p>
{% endif %}
{% endblock %}