{% extends "admin_dashboard.html" %}

{% block title %}审核病历{% endblock %}

{% block content %}

<div class="main-content">
    <h2>病历详情</h2>

    {% if message %}
    <p style="color: {{ 'green' if 'success' in message else 'red' }}">{{ message }}</p>
    {% endif %}

    <div id="medical_record">
        <p>病历号: {{ medical_record.id }}</p>
        <p>医生号: {{ medical_record.doctor_id }}</p>
        <p>患者号: {{ medical_record.patient_id }}</p>
        <p>问诊申请号: {{ medical_record.consultation_request_id }}</p>
        <p>病历创建时间: {{ medical_record.created_at }}</p>
        <p>状态: {{ medical_record.status }}</p>

        <p>问诊时间: {{ medical_record.visit_date }}</p>
        <p>问诊科室: {{ medical_record.department }}</p>
        <p>患者主诉: {{ medical_record.patient_complaint }}</p>
        <p>既往病史: {{ medical_record.medical_history }}</p>
        <p>体格检查: {{ medical_record.physical_examination }}</p>
        <p>辅助检查: {{ medical_record.auxiliary_examination }}</p>
        <p>诊断: {{ medical_record.diagnosis }}</p>
        <p>处理意见: {{ medical_record.treatment_advice }}</p>
        <p>医生签名: {{ medical_record.doctor_signature }}</p>
    </div>

    <form method="POST">
        <label for="review_opinions">审核意见:</label>
        <textarea id="review_opinions" name="review_opinions"></textarea><br><br>

        <button name="action" type="submit" value="pass">批准该病历</button>
        <button name="action" type="submit" value="not_pass">不批准该病历</button>
    </form>

    <p><a class="btn" href="{{ url_for('admin_bp.review_list') }}">返回列表</a></p>
</div>

{% endblock %}

